/* 导入样式 */
@import './Scrollbar.css';
/* 其他的设置 */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .card{
    transition: all .08s;
  }
  .card:hover{
    transition: all .3s;
    box-shadow: 0 0 20px rgba(0, 0, 0,.6) !important;
    transform: scale(1.05);
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

/* 取消阴影 */
.navbar{
  box-shadow:0 5px 10px rgba(0, 0, 0,.3)!important;
}