/* 设置背景颜色 */

body {
    background-color: rgb(9, 39, 62);
}

.jumbotron {
    border-radius: 0;
    padding: 2rem 0.5rem;
}

/* 设置顶部的巨幕 */

.top-jumbotron {
    height: 400.2px;
    background-image: url('../img/spaceX/xingqiu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-y: -50px; */
    padding: 0.5rem 1.5rem 7rem;
    /* 设置巨幕的底部边距 */
    margin-bottom: -38px;
}

/* 设置图标 */

.ironman {
    width: 550px;
    position: relative;
    top: -100px;
    left: 100px;
}

.ironman-feixing {
    animation: ironman 2s;
}

.ironman_huangdong {
    animation: ironman_huangdong 1s alternate-reverse infinite linear;
}

/* 设置钢铁侠的动画 */

@keyframes ironman {
    from {
        width: 20px;
        top: -200px;
        left: 400px;
    }
    to {
        width: 550px;
        top: -100px;
        left: 100px;
    }
}

/* 晃动的动画 */

@keyframes ironman_huangdong {
    from {
        top: -110px;
    }
    to {
        top: -100px;
    }
}



/* 过渡的div */

#transition-div {
    height: 40px;
    background-image: linear-gradient(to top, rgb(9, 39, 62), transparent);
}

/* 设置内容区的样式 */

.marketing {
    margin-top: 5rem;
    color: white;
}

/*  */
.youtube-video{
    width: 400px;
    height: 300px;
}
/* 设置不同尺寸下的大小 */
@media screen and (max-width: 1200px) {
    .youtube-video{
        width: 300px;
        height: 200px;
    }
    .ironman{
        display: none;
    }
}
/* 设置分割线 */

.featurette-divider {
    color: whitesmoke;
    width: 10rem;
    height: 3px;
    margin: 80px 0;
}

/* 设置底部的样式 */

.jumbotron3 {
    margin-top: 50px;
    color: white;
    background-color: rgb(9, 39, 62);
}

.follow-icon {
    /* 设置阴影 */
    box-shadow: 2px 2px 5px rgba(255, 255, 255, .5) !important;
}

.follow-icon:hover {
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, .5) !important;
}

.text-muted {
    color: rgb(150, 150, 150) !important;
}

#banner {
    margin: 0 auto 50px;
    width: 20px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

.banner-keyframe {
    animation: dong 1s alternate ease-out forwards;
}

/* 添加动画 */

@keyframes dong {
    from {
        width: 20px;
    }
    to {
        width: 200px;
    }
}