/* 设置导航栏相关样式 */

.navbar {
	z-index: 99999;
	transition: top .3s;
	position: sticky;
	top: -52px;
	margin-bottom: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .8);
}

.navbar:hover {
	top: 0px;
}

.navbar-img:hover {
	transform: rotateZ(360deg);
}

.navbar-img {
	transition: all .8s;
}

.jumbotron3 {
	margin: -20px 0px 0;
}

/* 设置底部的阴影 */

.shdowwrap {
	overflow: hidden;
}

/* 设置底部图片的间距 */

.imgCol {
	margin-bottom: 10px;
}

.jumbotron-img-wrap img {
	border: 4px solid rgba(134, 129, 129, 0.829);
	margin: 2px 5px;
}

/* 使用媒体查询以使底部阴影适合不同的尺寸 */

@media screen and (min-width: 1300px) {
	.buttomshdow {
		border-left: 900px solid rgb(233, 236, 239);
		border-top: 200px solid transparent;
		border-bottom: 20px solid rgb(233, 236, 239);
		border-right: 900px solid rgb(233, 236, 239);
	}
}

@media screen and (min-width: 568px) and (max-width: 1299px) {
	.buttomshdow {
		border-left: 700px solid rgb(233, 236, 239);
		border-top: 200px solid transparent;
		border-bottom: 20px solid rgb(233, 236, 239);
		border-right: 700px solid rgb(233, 236, 239);
	}
}

@media screen and (max-width: 567px) {
	.buttomshdow {
		border-left: 200px solid rgb(233, 236, 239);
		border-top: 100px solid transparent;
		border-bottom: 20px solid rgb(233, 236, 239);
		border-right: 200px solid rgb(233, 236, 239);
	}
}



@media screen and (max-width: 700px) {
	#aside_mulu{
		display: none;
	}

}

/* 设置follow-us图标的拟态风格 */

.follow-icon {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	margin-right: 8px;
	margin-top: 8px;
	text-align: center;
	font-size: 28px;
	line-height: 3rem;
	/* 设置阴影 */
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.follow-icon:hover {
	transition: all .15s;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, .5);
}

/* 设置图标独立的样式,移入时的主题色 */

.follow-icon-facebook {
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.follow-icon-facebook:hover {
	color: rgb(24, 119, 242) !important;
}

.follow-icon-twitter {
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.follow-icon-twitter:hover {
	color: rgb(45, 170, 225) !important;
}

.follow-icon-weixin {
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
}

.follow-icon-weixin:hover {
	color: rgb(45, 193, 0) !important;
}

.follow-icon-weibo {
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.follow-icon-weibo:hover {
	color: rgb(230, 22, 45) !important;
}

#jumu {
	margin-top: 10px;
	background: url(../../img/shuixing/shuixing2.jpg) no-repeat center;
	background-size: 1600px;
	height: 400px;
}

.navbar {
	margin-bottom: 0;
}

#gushi {
	background: url(../../img/shuixing/shuixing1.jpg) no-repeat center;
	width: 250px;
}

#qiyuan {
	background: url(../../img/shuixing/shuixing3.jpg) no-repeat center;
	width: 250px;
}

#duanluo {
	text-indent: 2em;
	margin-bottom: 10px;
	font-family: "微软雅黑";
	line-height: 35px;
}

#ziti {
	font-family: "微软雅黑";
}

.img-responsive {
	width: 400px;
	height: 350px;
	margin-bottom: 20px;
	display: block;
	height: auto;
	max-width: 100%;
}

#ziti1 {
	font-family: "微软雅黑";
}

#mulu {
	margin-left: 200px;
}

#ziti2 {
	font-family: "微软雅黑";
}

#zui1 {
	font-size: 24px;
}

#ziti3 {
	font-family: "微软雅黑";
}

#ziti4 {
	font-family: "微软雅黑";
}

#ziti5 {
	font-family: "微软雅黑";
}

#ziti6 {
	font-family: "微软雅黑";
}

#ziti7 {
	font-family: "微软雅黑";
}

#end {
	font-family: "微软雅黑";
	font-size: 24px;
}

#jumuh {
	margin-top: 10px;
	background: url(../../img/huoxing/u=3729639637,3339651433&fm=26&gp=0.jpg) no-repeat center;
	background-size: 1600px;
	height: 400px;
}

#gushihuo {
	background: url(../../img/huoxing/u=3604796702,2455080346&fm=26&gp=0.jpg) no-repeat center;
	width: 250px;
}

#qiyuanhuo {
	background: url(../../img/huoxing/u=2812050265,4043226761&fm=26&gp=0.jpg) no-repeat center;
	width: 250px;
}

#jumujin {
	margin-top: 10px;
	background: url(../../img/jinxing/u=3826262808,2593772306&fm=26&gp=0.jpg) no-repeat center;
	background-size: 1600px;
	height: 350px;
}

#gushijin {
	background: url(../../img/jinxing/u=1003106665,1999056997&fm=26&gp=0.jpg) no-repeat center;
	width: 250px;
}

#qiyuanjin {
	background: url(../../img/jinxing/u=1848586629,2330081525&fm=26&gp=0.jpg) no-repeat center;
	width: 250px;
}

#jumumu {
	margin-top: 10px;
	background: url(../../img/muxing/u=1260800807,2626665016&fm=193.jpg) no-repeat center;
	background-size: 1500px;
	height: 350px;
}

#gushimu {
	background: url(../../img/muxing/u=1914237937,2085662200&fm=26&gp=0.jpg) no-repeat center;
	width: 250px;
}

#qiyuanmu {
	background: url(../../img/muxing/u=3793906732,1142955423&fm=26&gp=0.jpg) no-repeat center;
	width: 250px;
}

#jumudi {
	margin-top: 10px;
	background: url(../../img/diqiu/u=2759217442,1712332975&fm=26&gp=0.jpg) no-repeat center;
	background-size: 1500px;
	height: 350px;
}

#gushidi {
	background: url(../../img/diqiu/u=1705355165,2954609071&fm=26&gp=0.jpg) no-repeat center;
	width: 250px;
}

#qiyuandi {
	background: url(../../img/diqiu/u=3776581773,1625564483&fm=26&gp=0.jpg) no-repeat center;
	width: 250px;
}

#jumutu {
	margin-top: 10px;
	background: url(../../img/tuxing/u=2725652,4061860696&fm=26&gp=0.jpg) no-repeat center;
	background-size: 1500px;
	height: 350px;
}

#gushitu {
	background: url(../../img/tuxing/u=1399988370,2016677502&fm=26&gp=0.jpg) no-repeat center;
	width: 250px;
}

#qiyuantu {
	background: url(../../img/tuxing/u=2970460860,1619983598&fm=26&gp=0.jpg) no-repeat center;
	width: 250px;
}
